<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  ~ Copyright (c) 2019.
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v1.0
  ~ which accompanies this distribution, and is available at
  ~ http://www.eclipse.org/legal/epl-v10.html
  ~
  ~ Authors:
  ~  - Sandro Marques <https://sandrohc.net>
  -->

<plugin>
   <extension-point id="inspection" name="Minimap Inspection" schema="schema/pa.iscde.minimap.inspection.exsd"/>
   <extension
         id="minimap"
         name="Minimap"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.minimap.internal.MinimapView"
            icon="minimap.gif">
      </view>
   </extension>
   <extension
         id="base-rules"
         name="Base Rules"
         point="pt.iscte.pidesco.minimap.inspection">
      <inspection
            class="pa.iscde.minimap.extensibility.base.BaseInspection"
            description="Provides examples for how to implement new inspection rules."
            id="base-inspection"
            name="Base Inspections">
      </inspection>
   </extension>

</plugin>
